mixin project(project)
  .project(style=`background: ${project.background || 'white'}`) 
    img(src=`images/${project.image}` alt=project.name)
    .label 
      span.name #{project.name}
      br
      span.brief 
        a(href=`${project.brief}` target="_blank") Brief
        |  on freeCodeCamp
      br
      if project.codepen
        span.code 
          a(href=`${project.codepen}` target="_blank") Full code
          |  on CodePen
      else 
        span.url
          a(href=`${project.url}` target="_blank") Live demo
